#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*/bin/*
*/obj/*
.vs/*
*.suo
*.cache
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.user
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.diagsession
*.vspx
WowPacketParser/Properties/launchSettings.json

packages/*
!packages/DBFileReaderLib.1.0.0.0/

wpp.tgz
cov-int

# Rider
.idea