dist: bionic

language: csharp
solution: WowPacketParser.sln

matrix:
  include:
    - dotnet: 5.0.102
      mono: none

before_script:
  - chmod +x ./scripts/travis-build.sh
  - chmod +x ./scripts/travis-test.sh
  
script: 
  - ./scripts/travis-build.sh
  - ./scripts/travis-test.sh  
