version: 1.0.{build}
image:
- Visual Studio 2019
- Ubuntu
configuration:
- Debug
- Release
platform: Any CPU
clone_depth: 1
before_build:
- ps: dotnet restore
build:
  verbosity: minimal
artifacts:
- path: WowPacketParser\bin
  name: WPP
