<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Port" value="3306" />
    <add key="Username" value="root" />
    <add key="Password" value="" />
    <add key="Database" value="world" />
    <add key="CharacterSet" value="utf8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>