<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--
             Option:      Filters
             Description: List of strings separated by comma. Any opcode name that matches any of these filters will be parsed
             Default:     "" (All)
        -->
        <add key="Filters" value=""/>

        <!--
             Option:      IgnoreFilters
             Description: List of strings separated by comma. Any opcode name that matches any of these filters will be ignored
                          If one opcode matches Filters and IgnoreFilters at same time it will be ignored
             Default:     "" (None)
        -->
        <add key="IgnoreFilters" value=""/>

        <!--
             Option:      IgnoreByEntryFilters
             Description: List of List of Entries not to be included in output file. Any opcode that contains any of these entries will be ignored
             Format:      Type:Id1:Id2:Id3,Type2:Id4:Id5:Id6
             Default:     "" (None)
        -->
        <add key="IgnoreByEntryFilters" value=""/>

        <!--
             Option:      AreaFilters
             Description: List of strings separated by comma. Any creature/gameobject spawn that matches any of these filters
                          will be dumped to sql file if creature/gameobject sql option is enabled
             Default:     "" (None)
        -->
        <add key="AreaFilters" value=""/>

        <!--
             Option:      FilterPacketsNum
             Description: Number of packets to read
             Default:     "0" (All)
        -->
        <add key="FilterPacketsNum" value="0"/>

        <!--
             Option:      FilterPacketNumLow
             Description: Minimum packet number to begin to read
             Default:     "0" (No limit)
        -->
        <add key="FilterPacketNumLow" value="0"/>

        <!--
             Option:      FilterPacketNumHigh
             Description: Maximum packet number to begin to read
             Default:     "0" (No limit)
        -->
        <add key="FilterPacketNumHigh" value="0"/>
      
        <!--
             Option:      ClientBuild
             Description: Force client build version
             Default:     "" (Autodetect)
        -->
        <add key="ClientBuild" value=""/>
      
        <!--
             Option:      Threads.Read
             Description: Number of threads to be used to read files to be parsed
             Default:     "0" (Recommended number of Threads)
        -->
        <add key="Threads.Read" value="0"/>

        <!--
             Option:      Threads.Parse
             Description: Number of threads to be used to parse packets
             Default:     "0" (Recommended number of Threads)
        -->
        <add key="Threads.Parse" value="0"/>

        <!--
             Option:      DumpFormat
             Description: Format to write to output file
             Default:     "1" (Text)
             Values:      0: No dump
                          1: Text
                          2: Binary (.pkt)
        -->
        <add key="DumpFormat" value="1"/>

        <!--
             Option:      SQLOutput
             Description: Mask that determines what to write to sql output file
             Default:     "0" (No sql output)
             Values:   1: GameObjectTemplate
                       2: GameObjectSpawns
                       4: QuestTemplate
                       8: QuestPOI
                      16: CreatureTemplate
                      32: CreatureSpawns
                      64: NpcTrainer
                     128: NpcVendor
                     256: NpcText
                     512: Loot
                    1024: Gossip
                    2048: PageText
                    4096: StartInformation
                    8192: SniffData
                   16384: SniffDataOpcodes
                   32768: ObjectNames
                   65536: CreatureEquip
                  131072: CreatureMovement (Research)
                  262143: All
        -->
        <add key="SQLOutput" value="0"/>

        <!--
             Option:      SQLFileName
             Description: Sets the file to write all sql data to. If is not set each file parsed will write it's own sql file
             Default:     "" (No global sql file output)
        -->
        <add key="SQLFileName" value=""/>

        <!--
             Option:      ShowEndPrompt
             Description: Show end prompt after parsing all files
             Default:     "false" (No prompt)
        -->
        <add key="ShowEndPrompt" value="false"/>

        <!--
             Option:      LogErrors
             Description: Log ReadEnum errors (Missing enum values)
             Default:     "false" (No prompt)
        -->
        <add key="LogErrors" value="false"/>

        <!--
             Option:      StatsOutput
             Description: Log ReadEnum errors (Missing enum values)
             Default:     "1" (Local)
             Values:   0: No output
                       1: Local stats for each file
                       2: Global stats
        -->
        <add key="StatsOutput" value="1"/>

        <!--
             Option:      SplitOutput
             Description: Normal output or split output in multiple files with opcode name. Only works with DumpFormat = 2 or 3
             Default:     "false" (Normal output)
        -->
        <add key="SplitOutput" value="false"/>

        <!--
             Option:      DebugReads
             Description: Show hexadecimal data when reading any numeric value
             Default:     "false" (Do not show hexadecimal output)
        -->
        <add key="DebugReads" value="false"/>

        <!--
             Option:      ParsingLog
             Description: Write to a text file what has been printed on console
             Default:     "false"
        -->
        <add key="ParsingLog" value="false"/>
        
        <!-- SSH Tunneling settings -->
        <add key="SSHEnabled"   value="false" />
        <add key="SSHHost"      value="" />
        <add key="SSHUsername"  value="" />
        <add key="SSHPassword"  value="" />
        <add key="SSHPort"      value="22" />
        <add key="SSHLocalPort" value="3307" />

        <!-- Database settings -->
        <add key="DBEnabled"    value="false" />
        <add key="Server"       value="localhost" />
        <add key="Port"         value="3306" />
        <add key="Username"     value="root" />
        <add key="Password"     value="" />
        <add key="WPPDatabase"  value="WPP" />
        <add key="TDBDatabase"  value="world" />
        <add key="CharacterSet" value="utf8" />
    </appSettings>
</configuration>
