<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Hotfix" type="WowPacketParser.Hotfix.HotfixSection, WowPacketParser" />
    </configSections>
    <appSettings>
        <!--
             Option:      Filters
             Description: List of strings separated by comma. Any opcode name that matches any of these filters will be parsed
             Default:     "" (All)
        -->
        <add key="Filters" value=""/>

        <!--
             Option:      IgnoreFilters
             Description: List of strings separated by comma. Any opcode name that matches any of these filters will be ignored
                          If one opcode matches Filters and IgnoreFilters at same time it will be ignored
             Default:     "" (None)
        -->
        <add key="IgnoreFilters" value=""/>

        <!--
             Option:      EntryFilters
             Description: List of List of entries to be included in output file. Only opcodes containing any of these entry will added to outputs
             Format:      Type:Id1:Id2:Id3,Type2:Id4:Id5:Id6
             Example:     Unit:5000:10000:60000,GameObject:7000
             Default:     "" (None)
        -->
        <add key="EntryFilters" value=""/>

        <!--
             Option:      IgnoreByEntryFilters
             Description: List of List of Entries not to be included in output file. Any opcode that contains any of these entries will be ignored
             Format:      Type:Id1:Id2:Id3,Type2:Id4:Id5:Id6
             Example:     Unit:5000:10000:60000,Player:0
             Default:     "" (None)
        -->
        <add key="IgnoreByEntryFilters" value=""/>

        <!--
             Option:      AreaFilters
             Description: List of strings separated by comma. Any creature/gameobject spawn that matches any of these filters
                          will be dumped to sql file if creature/gameobject sql option is enabled
             Default:     "" (None)
        -->
        <add key="AreaFilters" value=""/>

        <!--
               Option:      MapFilters
               Description: List of strings separated by comma. Any creature/gameobject spawn that matches any of these filters
                            will be dumped to sql file if creature/gameobject sql option is enabled
               Default:     "" (None)
          -->
        <add key="MapFilters" value=""/>

        <!--
             Option:      FilterPacketsNum
             Description: Number of packets to read.
                          If this value is negative and DumpFormat is set to 2 (Binary (.pkt)), a number of .pkt files will be
                          created containing this value in number of packets (last .pkt created can have less packets than
                          the number defined by this value).
             Default:     "0" (All)
        -->
        <add key="FilterPacketsNum" value="0"/>

        <!--
             Option:      ClientBuild
             Description: Force client build version
             Default:     "" (Autodetect - build is calculated based on the date of sniff)
        -->
        <add key="ClientBuild" value=""/>

        <!--
             Option:      ClientLocale
             Description: Force client locale
             Default:     "" (Autodetect - PKT3.1: locale is read from packet dump header, other dump types: enUS)
        -->
        <add key="ClientLocale" value=""/>

        <!--
             Option:      TargetedDatabase
             Description: Sets the database version for which the SQL output should be produced.
             Default:     "2" (Wrath of the Lich King)
             Values:      1: The Burning Crusade
                          2: Wrath of the Lich King
                          3: Cataclysm
                          4: Warlords of Draenor
                          5: Legion
                          6: Battle for Azeroth
                          7: Shadowlands
                          8: Dragonflight

                          20: Classic
                          21: WotlkClassic
        -->
        <add key="TargetedDatabase" value="2"/>

        <!--
             Option:      DumpFormat
             Description: Format to write to output file
             Default:     "1" (Text)
             Values:      0: No dump
                          1: Text + SQL (if enabled)
                          2: Binary (.pkt)
                          3: Binary (.pkt) split output in multiple files with opcode name
                          4: SQL Only
                          5: SniffData only (.sql)
                          6: Few statistics in CSV format (does not parse packets)
                          7: Binary (.pkt) split output in multiple files by session (TC sniffs only)
                          8: Compress sniff files (.gz extension)
                          9: Calculate version and move sniff to its own folder version
                          10: Hex & packet header only
                          11: Binary (.pkt) split output in multiple files by direction
                          12: Output info about packet's connection indexes (<name>_connidx.txt)
                          13: Binary (.pkt) merge output in a file (fusion.pkt)
                          14: UniversalProto (.dat)
                          15: UniversalProto with text (.dat)
        -->
        <add key="DumpFormat" value="1"/>

        <!--
             Option:      SQLOutput
             Description: "true" defines if SQL file created contains a specific table, "false" otherwise

             Default:     "false" (No SQL output for specific table)
        -->
        <add key="ObjectNames"                            value="false"/>
        <add key="SniffData"                              value="false"/>
        <add key="SniffDataOpcodes"                       value="false"/>

        <add key="areatrigger"                            value="false"/>
        <add key="areatrigger_create_properties"          value="false"/>
        <add key="areatrigger_create_properties_orbit"    value="false"/>
        <add key="areatrigger_create_properties_polygon_vertex" value="false"/>
        <add key="areatrigger_create_properties_spline_point" value="false"/>
        <add key="areatrigger_template"                   value="false"/>
        <add key="broadcast_text"                         value="false"/>
        <add key="broadcast_text_locale"                  value="false"/>
        <add key="conversation_actor_template"            value="false"/> <!-- removed in BattleForAzeroth -->
        <add key="conversation_actors"                    value="false"/>
        <add key="conversation_line_template"             value="false"/>
        <add key="conversation_template"                  value="false"/>
        <add key="creature"                               value="false"/>
        <add key="creature_addon"                         value="false"/>
        <add key="creature_equip_template"                value="false"/>
        <add key="creature_model_info"                    value="false"/>
        <add key="creature_queststarter"                  value="false"/>
        <add key="creature_questender"                    value="false"/>
        <add key="creature_template"                      value="false"/>
        <add key="creature_template_addon"                value="false"/>
        <add key="creature_template_difficulty"           value="false"/>
        <add key="creature_template_gossip"               value="false"/>
        <add key="creature_template_locale"               value="false"/>
        <add key="creature_text"                          value="false"/>
        <add key="gameobject"                             value="false"/>
        <add key="gameobject_addon"                       value="false"/>
        <add key="gameobject_queststarter"                value="false"/>
        <add key="gameobject_questender"                  value="false"/>
        <add key="gameobject_template"                    value="false"/>
        <add key="gameobject_template_addon"              value="false"/>
        <add key="gossip_menu"                            value="false"/>
        <add key="gossip_menu_addon"                      value="false"/>
        <add key="gossip_menu_option"                     value="false"/>
        <add key="item_template"                          value="false"/>
        <add key="locales_quest"                          value="false"/>
        <add key="locales_quest_objectives"               value="false"/>
        <add key="npc_spellclick_spells"                  value="false"/>
        <add key="npc_text"                               value="false"/>
        <add key="npc_trainer"                            value="false"/>
        <add key="npc_vendor"                             value="false"/>
        <add key="page_text"                              value="false"/>
        <add key="page_text_locale"                       value="false"/>
        <add key="playerchoice"                           value="false"/>
        <add key="playerchoice_locale"                    value="false"/>
        <add key="playercreateinfo"                       value="false"/>
        <add key="playercreateinfo_action"                value="false"/>
        <add key="points_of_interest"                     value="false"/>
        <add key="quest_poi"                              value="false"/>
        <add key="quest_poi_points"                       value="false"/>
        <add key="quest_template"                         value="false"/>
        <add key="scene_template"                         value="false"/>
        <add key="scenario_poi"                           value="false"/>
        <add key="spell_target_position"                  value="false"/>
        <add key="trainer"                                value="false"/>
        <add key="vehicle_template_accessory"             value="false"/>
        <add key="weather_updates"                        value="false"/>

        <add key="hotfix_data"                            value="false"/>
        <add key="hotfix_blob"                            value="false"/>
        <add key="hotfix_optional_data"                   value="false"/>
        <add key="hotfixes"                               value="false"/>


        <!--
                 Option:      ParseAllHotfixes
                 Description: Will parse all hotfixes, if true (no need to set TableHash to true in HotfixSection below)
                 Default:     "false"
          -->
        <add key="ParseAllHotfixes" value="false"/>

        <!--
               Option:      IgnoreZeroValues
               Description: Won't write Updatefields containing 0 values to file
               Default:     "false"
        -->
        <add key="IgnoreZeroValues" value="false"/>

        <!--
               Option:      ForceInsertQueries
               Description: Won't generate UPDATE queries, but DELETE and INSERT queries.
               Default:     "false"
        -->
        <add key="ForceInsertQueries" value="false"/>

        <!--
               Option:      RecalcDiscount
               Description: Recalculate repuation discounts on moneyCost to receive originalMoneyCost (only works with DBCs and NON-fusion .pkt)
               Default:     "false" (No prompt)
          -->
        <add key="RecalcDiscount" value="false"/>

        <!--
               Option:      ForcePhaseZero
               Description: Forces phase 0 for all creatures and gameobjects
               Default:     "false"
        -->
        <add key="ForcePhaseZero" value="false"/>

        <!--
               Option:      GenerateCreateObject2SpawnsOnly
               Description: Only generate CreateObject2 spawns - spawns of objects that literally just spawned in sniff; objects which just came in range are not generated
               Default:     "false"
        -->
        <add key="GenerateCreateObject2SpawnsOnly" value="false"/>

        <!--
               Option:      SkipDuplicateSpawns
               Description: Skip generation of duplicate spawns (grouped by: entry, phases, position)
               Default:     "true"
        -->
        <add key="SkipDuplicateSpawns" value="true"/>

        <!--
             Option:      SplitSQLFile
             Description: Writes world db, hotfixes db and wpp content to individual files
             Default:     "false" (dont split)
        -->
        <add key="SplitSQLFile" value="false"/>

        <!--
             Option:      SQLFileName
             Description: Sets the file to write all sql data to. If is not set each file parsed will write it's own sql file
             Default:     "" (No global sql file output)
        -->
        <add key="SQLFileName" value=""/>

        <!--
             Option:      SQLOrderByKey
             Description: Order Sql Output by key
             Default:     "false" (No prompt)
        -->
        <add key="SQLOrderByKey" value="false"/>

        <!--
             Option:      SaveTempSpawns
             Description: Spawn temporary spawns (true) or comment them in sql (false)
             Default:     "false" (comment temp spawns in sql)
        -->
        <add key="SaveTempSpawns" value="false"/>

        <!--
             Option:      SaveExistingSpawns
             Description: Spawn spawns which are already existing in db (compared by entry, position) or comment them in sql
             Default:     "false" (comment existing spawns in sql)
        -->
        <add key="SaveExistingSpawns" value="false"/>

        <!--
             Option:      SkipOnlyVerifiedBuildUpdateRows
             Description: Ship only VerifiedBuild row in update querys
             Default:     "false"
        -->
        <add key="SkipOnlyVerifiedBuildUpdateRows" value="false"/>

        <!--
             Option:      SkipRowsWithFallbackValues
             Description: Skip rows containing data the core would use as fallback if no row is found, depends on requires DBEnabled = true
             Default:     "true"
        -->
        <add key="SkipRowsWithFallbackValues" value="true"/>

        <!--
             Option:      ShowEndPrompt
             Description: Show end prompt after parsing all files
             Default:     "false" (No prompt)
        -->
        <add key="ShowEndPrompt" value="false"/>

        <!--
             Option:      LogErrors
             Description: Log ReadEnum errors (Missing enum values)
             Default:     "false" (No enum errors log)
        -->
        <add key="LogErrors" value="false"/>

        <!--
             Option:      LogPacketErrors
             Description: Log packet headers that were skipped or have packet errors to <snifffile>_errors.txt
             Default:     "false" (No file created)
        -->
        <add key="LogPacketErrors" value="false"/>

        <!--
             Option:      OutputFlag
             Description: Configures what packets depending on parsing status are written to the .txt. 1 - Only success, 2 - Only with errors, 4 - Only skipped, 8 - Only wihtout structure
             Default:     "15" (Success, WithErrors, NotParsed and NoStructure)
        -->
        <add key="OutputFlag" value="15"/>

        <!--
             Option:      DebugReads
             Description: Show hexadecimal data when reading any numeric value
             Default:     "false" (Do not show hexadecimal output)
        -->
        <add key="DebugReads" value="false"/>

        <!--
             Option:      ParsingLog
             Description: Write to a text file what has been printed on console
             Default:     "false"
        -->
        <add key="ParsingLog" value="false"/>

        <!--
             Option:      Threads
             Description: Number of threads to parse packets. 0 is number of avail. processors.
             Default:     "1"
        -->
        <add key="Threads" value="1"/>

        <!--
             Option:      UseDBC
             Description: Use DBC/DB2 (Current Supported DBC: 10.0.2)
             Default:     "false" (No prompt)
        -->
        <add key="UseDBC" value="false"/>

        <!--
             Option:      DbcPath
             Description: Set DBC/DB2 Path
             Default:     "dbc" (No prompt)
        -->
        <add key="DBCPath" value="dbc"/>

        <!--
             Option:      DbcLocale
             Description: Set DBC/DB2 Locales
             Default:     "enUS"
        -->
        <add key="DBCLocale" value="enUS"/>

        <!--
               Option:      HotfixCachePath
               Description: Set HotfixCache Path
               Default:     "cache\DBCache.bin" (No prompt)
          -->
        <add key="HotfixCachePath" value="cache\DBCache.bin"/>

        <!--
             Option:      ParseSpellInfos
             Description: Parse spell infos to output file (only *.txt)
             Default:     "false" (No prompt)
        -->
        <add key="ParseSpellInfos" value="false"/>

        <!-- SSH Tunneling settings -->
        <add key="SSHEnabled"         value="false" />
        <add key="SSHHost"            value="" />
        <add key="SSHUsername"        value="" />
        <add key="SSHPassword"        value="" />
        <add key="SSHPort"            value="22" />
        <add key="SSHLocalPort"       value="3307" />

        <!-- Database settings -->
        <add key="DBEnabled"          value="false" />
        <add key="Server"             value="localhost" />
        <add key="Port"               value="3306" />
        <add key="Username"           value="root" />
        <add key="Password"           value="" />
        <add key="WPPDatabase"        value="wpp" />
        <add key="TDBDatabase"        value="world" />
        <add key="HotfixesDatabase"   value="hotfixes" />
        <add key="CharacterSet"       value="utf8" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Parsers;lib"/>
        </assemblyBinding>
    </runtime>

    <Hotfix>
        <FileHashes>
            <!--
                Collection of hotfix hashes
                Enabled is set to true by default

                Locales are autogenerated as long as the base is enabled.
            -->
            <HotfixElement FileHash="Achievement"                   Enabled="false" />
            <HotfixElement FileHash="AnimationData"                 Enabled="false" />
            <HotfixElement FileHash="AnimKit"                       Enabled="false" />
            <HotfixElement FileHash="AreaGroupMember"               Enabled="false" />
            <HotfixElement FileHash="AreaTable"                     Enabled="false" />
            <HotfixElement FileHash="AreaTrigger"                   Enabled="false" />
            <HotfixElement FileHash="ArmorLocation"                 Enabled="false" />
            <HotfixElement FileHash="ArtifactAppearance"            Enabled="false" />
            <HotfixElement FileHash="ArtifactAppearanceSet"         Enabled="false" />
            <HotfixElement FileHash="ArtifactCategory"              Enabled="false" />
            <HotfixElement FileHash="Artifact"                      Enabled="false" />
            <HotfixElement FileHash="ArtifactPower"                 Enabled="false" />
            <HotfixElement FileHash="ArtifactPowerLink"             Enabled="false" />
            <HotfixElement FileHash="ArtifactPowerPicker"           Enabled="false" />
            <HotfixElement FileHash="ArtifactPowerRank"             Enabled="false" />
            <HotfixElement FileHash="ArtifactQuestXP"               Enabled="false" />
            <HotfixElement FileHash="ArtifactTier"                  Enabled="false" />
            <HotfixElement FileHash="ArtifactUnlock"                Enabled="false" />
            <HotfixElement FileHash="AuctionHouse"                  Enabled="false" />
            <HotfixElement FileHash="AzeriteEmpoweredItem"          Enabled="false" />
            <HotfixElement FileHash="AzeriteEssence"                Enabled="false" />
            <HotfixElement FileHash="AzeriteEssencePower"           Enabled="false" />
            <HotfixElement FileHash="AzeriteItem"                   Enabled="false" />
            <HotfixElement FileHash="AzeriteItemMilestonePower"     Enabled="false" />
            <HotfixElement FileHash="AzeriteKnowledgeMultiplier"    Enabled="false" />
            <HotfixElement FileHash="AzeriteLevelInfo"              Enabled="false" />
            <HotfixElement FileHash="AzeritePower"                  Enabled="false" />
            <HotfixElement FileHash="AzeritePowerSetMember"         Enabled="false" />
            <HotfixElement FileHash="AzeriteTierUnlock"             Enabled="false" />
            <HotfixElement FileHash="AzeriteTierUnlockSet"          Enabled="false" />
            <HotfixElement FileHash="AzeriteUnlockMapping"          Enabled="false" />
            <HotfixElement FileHash="BankBagSlotPrices"             Enabled="false" />
            <HotfixElement FileHash="BannedAddons"                  Enabled="false" />
            <HotfixElement FileHash="BarberShopStyle"               Enabled="false" />
            <HotfixElement FileHash="BattlemasterList"              Enabled="false" />
            <HotfixElement FileHash="BattlePetBreedQuality"         Enabled="false" />
            <HotfixElement FileHash="BattlePetBreedState"           Enabled="false" />
            <HotfixElement FileHash="BattlePetSpecies"              Enabled="false" />
            <HotfixElement FileHash="BattlePetSpeciesState"         Enabled="false" />
            <HotfixElement FileHash="BroadcastText"                 Enabled="false" />
            <HotfixElement FileHash="Cfg_Regions"                   Enabled="false" />
            <HotfixElement FileHash="CharacterFacialHairStyles"     Enabled="false" />
            <HotfixElement FileHash="CharBaseSection"               Enabled="false" />
            <HotfixElement FileHash="CharSections"                  Enabled="false" />
            <HotfixElement FileHash="CharStartOutfit"               Enabled="false" />
            <HotfixElement FileHash="CharTitles"                    Enabled="false" />
            <HotfixElement FileHash="ChatChannels"                  Enabled="false" />
            <HotfixElement FileHash="ChrClasses"                    Enabled="false" />
            <HotfixElement FileHash="ChrClassesXPowerTypes"         Enabled="false" />
            <HotfixElement FileHash="ChrRaces"                      Enabled="false" />
            <HotfixElement FileHash="ChrSpecialization"             Enabled="false" />
            <HotfixElement FileHash="CinematicCamera"               Enabled="false" />
            <HotfixElement FileHash="CinematicSequences"            Enabled="false" />
            <HotfixElement FileHash="ContentTuning"                 Enabled="false" />
            <HotfixElement FileHash="ContentTuningXExpected"        Enabled="false" />
            <HotfixElement FileHash="ConversationLine"              Enabled="false" />
            <HotfixElement FileHash="CorruptionEffects"             Enabled="false" />
            <HotfixElement FileHash="CreatureDisplayInfo"           Enabled="false" />
            <HotfixElement FileHash="CreatureDisplayInfoExtra"      Enabled="false" />
            <HotfixElement FileHash="CreatureFamily"                Enabled="false" />
            <HotfixElement FileHash="CreatureModelData"             Enabled="false" />
            <HotfixElement FileHash="CreatureType"                  Enabled="false" />
            <HotfixElement FileHash="Criteria"                      Enabled="false" />
            <HotfixElement FileHash="CriteriaTree"                  Enabled="false" />
            <HotfixElement FileHash="CurrencyTypes"                 Enabled="false" />
            <HotfixElement FileHash="Curve"                         Enabled="false" />
            <HotfixElement FileHash="CurvePoint"                    Enabled="false" />
            <HotfixElement FileHash="DestructibleModelData"         Enabled="false" />
            <HotfixElement FileHash="Difficulty"                    Enabled="false" />
            <HotfixElement FileHash="DungeonEncounter"              Enabled="false" />
            <HotfixElement FileHash="DurabilityCosts"               Enabled="false" />
            <HotfixElement FileHash="DurabilityQuality"             Enabled="false" />
            <HotfixElement FileHash="Emotes"                        Enabled="false" />
            <HotfixElement FileHash="EmotesText"                    Enabled="false" />
            <HotfixElement FileHash="EmotesTextSound"               Enabled="false" />
            <HotfixElement FileHash="ExpectedStat"                  Enabled="false" />
            <HotfixElement FileHash="ExpectedStatMod"               Enabled="false" />
            <HotfixElement FileHash="Faction"                       Enabled="false" />
            <HotfixElement FileHash="FactionTemplate"               Enabled="false" />
            <HotfixElement FileHash="GameObjectDisplayInfo"         Enabled="false" />
            <HotfixElement FileHash="GameObjects"                   Enabled="false" />
            <HotfixElement FileHash="GarrAbility"                   Enabled="false" />
            <HotfixElement FileHash="GarrBuilding"                  Enabled="false" />
            <HotfixElement FileHash="GarrBuildingPlotInst"          Enabled="false" />
            <HotfixElement FileHash="GarrClassSpec"                 Enabled="false" />
            <HotfixElement FileHash="GarrFollower"                  Enabled="false" />
            <HotfixElement FileHash="GarrFollowerXAbility"          Enabled="false" />
            <HotfixElement FileHash="GarrPlotBuilding"              Enabled="false" />
            <HotfixElement FileHash="GarrPlot"                      Enabled="false" />
            <HotfixElement FileHash="GarrPlotInstance"              Enabled="false" />
            <HotfixElement FileHash="GarrSiteLevel"                 Enabled="false" />
            <HotfixElement FileHash="GarrSiteLevelPlotInst"         Enabled="false" />
            <HotfixElement FileHash="GemProperties"                 Enabled="false" />
            <HotfixElement FileHash="GlyphBindableSpell"            Enabled="false" />
            <HotfixElement FileHash="GlyphProperties"               Enabled="false" />
            <HotfixElement FileHash="GlyphRequiredSpec"             Enabled="false" />
            <HotfixElement FileHash="GuildColorBackground"          Enabled="false" />
            <HotfixElement FileHash="GuildColorBorder"              Enabled="false" />
            <HotfixElement FileHash="GuildColorEmblem"              Enabled="false" />
            <HotfixElement FileHash="GuildPerkSpells"               Enabled="false" />
            <HotfixElement FileHash="Heirloom"                      Enabled="false" />
            <HotfixElement FileHash="Holidays"                      Enabled="false" />
            <HotfixElement FileHash="ImportPriceArmor"              Enabled="false" />
            <HotfixElement FileHash="ImportPriceQuality"            Enabled="false" />
            <HotfixElement FileHash="ImportPriceShield"             Enabled="false" />
            <HotfixElement FileHash="ImportPriceWeapon"             Enabled="false" />
            <HotfixElement FileHash="ItemAppearance"                Enabled="false" />
            <HotfixElement FileHash="ItemArmorQuality"              Enabled="false" />
            <HotfixElement FileHash="ItemArmorShield"               Enabled="false" />
            <HotfixElement FileHash="ItemArmorTotal"                Enabled="false" />
            <HotfixElement FileHash="ItemBagFamily"                 Enabled="false" />
            <HotfixElement FileHash="ItemBonus"                     Enabled="false" />
            <HotfixElement FileHash="ItemBonusListLevelDelta"       Enabled="false" />
            <HotfixElement FileHash="ItemBonusTreeNode"             Enabled="false" />
            <HotfixElement FileHash="ItemChildEquipment"            Enabled="false" />
            <HotfixElement FileHash="ItemClass"                     Enabled="false" />
            <HotfixElement FileHash="ItemCurrencyCost"              Enabled="false" />
            <HotfixElement FileHash="ItemDamageAmmo"                Enabled="false" />
            <HotfixElement FileHash="ItemDamageOneHandCaster"       Enabled="false" />
            <HotfixElement FileHash="ItemDamageOneHand"             Enabled="false" />
            <HotfixElement FileHash="ItemDamageTwoHandCaster"       Enabled="false" />
            <HotfixElement FileHash="ItemDamageTwoHand"             Enabled="false" />
            <HotfixElement FileHash="ItemDisenchantLoot"            Enabled="false" />
            <HotfixElement FileHash="ItemEffect"                    Enabled="false" />
            <HotfixElement FileHash="Item"                          Enabled="false" />
            <HotfixElement FileHash="ItemExtendedCost"              Enabled="false" />
            <HotfixElement FileHash="ItemLevelSelector"             Enabled="false" />
            <HotfixElement FileHash="ItemLevelSelectorQuality"      Enabled="false" />
            <HotfixElement FileHash="ItemLevelSelectorQualitySet"   Enabled="false" />
            <HotfixElement FileHash="ItemLimitCategoryCondition"    Enabled="false" />
            <HotfixElement FileHash="ItemLimitCategory"             Enabled="false" />
            <HotfixElement FileHash="ItemModifiedAppearance"        Enabled="false" />
            <HotfixElement FileHash="ItemNameDescription"           Enabled="false" />
            <HotfixElement FileHash="ItemPriceBase"                 Enabled="false" />
            <HotfixElement FileHash="ItemRandomProperties"          Enabled="false" />
            <HotfixElement FileHash="ItemRandomSuffix"              Enabled="false" />
            <HotfixElement FileHash="ItemSearchName"                Enabled="false" />
            <HotfixElement FileHash="ItemSet"                       Enabled="false" />
            <HotfixElement FileHash="ItemSetSpell"                  Enabled="false" />
            <HotfixElement FileHash="ItemSparse"                    Enabled="false" />
            <HotfixElement FileHash="ItemSpec"                      Enabled="false" />
            <HotfixElement FileHash="ItemSpecOverride"              Enabled="false" />
            <HotfixElement FileHash="ItemUpgrade"                   Enabled="false" />
            <HotfixElement FileHash="ItemXBonusTree"                Enabled="false" />
            <HotfixElement FileHash="KeyChain"                      Enabled="false" />
            <HotfixElement FileHash="LfgDungeons"                   Enabled="false" />
            <HotfixElement FileHash="Light"                         Enabled="false" />
            <HotfixElement FileHash="LiquidType"                    Enabled="false" />
            <HotfixElement FileHash="Lock"                          Enabled="false" />
            <HotfixElement FileHash="MailTemplate"                  Enabled="false" />
            <HotfixElement FileHash="MapDifficulty"                 Enabled="false" />
            <HotfixElement FileHash="Map"                           Enabled="false" />
            <HotfixElement FileHash="ModifierTree"                  Enabled="false" />
            <HotfixElement FileHash="MountCapability"               Enabled="false" />
            <HotfixElement FileHash="Mount"                         Enabled="false" />
            <HotfixElement FileHash="MountTypeXCapability"          Enabled="false" />
            <HotfixElement FileHash="MountXDisplay"                 Enabled="false" />
            <HotfixElement FileHash="Movie"                         Enabled="false" />
            <HotfixElement FileHash="NameGen"                       Enabled="false" />
            <HotfixElement FileHash="NamesProfanity"                Enabled="false" />
            <HotfixElement FileHash="NamesReserved"                 Enabled="false" />
            <HotfixElement FileHash="NamesReservedLocale"           Enabled="false" />
            <HotfixElement FileHash="NumTalentsAtLevel"             Enabled="false" />
            <HotfixElement FileHash="OverrideSpellData"             Enabled="false" />
            <HotfixElement FileHash="Phase"                         Enabled="false" />
            <HotfixElement FileHash="PhaseXPhaseGroup"              Enabled="false" />
            <HotfixElement FileHash="PlayerCondition"               Enabled="false" />
            <HotfixElement FileHash="PowerDisplay"                  Enabled="false" />
            <HotfixElement FileHash="PowerType"                     Enabled="false" />
            <HotfixElement FileHash="PrestigeLevelInfo"             Enabled="false" />
            <HotfixElement FileHash="PVPDifficulty"                 Enabled="false" />
            <HotfixElement FileHash="PVPItem"                       Enabled="false" />
            <HotfixElement FileHash="PvpTalentCategory"             Enabled="false" />
            <HotfixElement FileHash="PvpTalent"                     Enabled="false" />
            <HotfixElement FileHash="PvpTalentSlotUnlock"           Enabled="false" />
            <HotfixElement FileHash="QuestFactionReward"            Enabled="false" />
            <HotfixElement FileHash="QuestMoneyReward"              Enabled="false" />
            <HotfixElement FileHash="QuestPackageItem"              Enabled="false" />
            <HotfixElement FileHash="QuestSort"                     Enabled="false" />
            <HotfixElement FileHash="QuestV2"                       Enabled="false" />
            <HotfixElement FileHash="QuestXP"                       Enabled="false" />
            <HotfixElement FileHash="RandPropPoints"                Enabled="false" />
            <HotfixElement FileHash="RewardPack"                    Enabled="false" />
            <HotfixElement FileHash="RewardPackXCurrencyType"       Enabled="false" />
            <HotfixElement FileHash="RewardPackXItem"               Enabled="false" />
            <HotfixElement FileHash="RulesetItemUpgrade"            Enabled="false" />
            <HotfixElement FileHash="ScalingStatDistribution"       Enabled="false" />
            <HotfixElement FileHash="Scenario"                      Enabled="false" />
            <HotfixElement FileHash="ScenarioStep"                  Enabled="false" />
            <HotfixElement FileHash="SceneScript"                   Enabled="false" />
            <HotfixElement FileHash="SceneScriptGlobalText"         Enabled="false" />
            <HotfixElement FileHash="SceneScriptPackage"            Enabled="false" />
            <HotfixElement FileHash="SceneScriptText"               Enabled="false" />
            <HotfixElement FileHash="SkillLineAbility"              Enabled="false" />
            <HotfixElement FileHash="SkillLine"                     Enabled="false" />
            <HotfixElement FileHash="SkillRaceClassInfo"            Enabled="false" />
            <HotfixElement FileHash="SoundKit"                      Enabled="false" />
            <HotfixElement FileHash="SpecializationSpells"          Enabled="false" />
            <HotfixElement FileHash="SpecSetMember"                 Enabled="false" />
            <HotfixElement FileHash="SpellAuraOptions"              Enabled="false" />
            <HotfixElement FileHash="SpellAuraRestrictions"         Enabled="false" />
            <HotfixElement FileHash="SpellCastingRequirements"      Enabled="false" />
            <HotfixElement FileHash="SpellCastTimes"                Enabled="false" />
            <HotfixElement FileHash="SpellCategories"               Enabled="false" />
            <HotfixElement FileHash="SpellCategory"                 Enabled="false" />
            <HotfixElement FileHash="SpellClassOptions"             Enabled="false" />
            <HotfixElement FileHash="SpellCooldowns"                Enabled="false" />
            <HotfixElement FileHash="SpellDuration"                 Enabled="false" />
            <HotfixElement FileHash="SpellEffect"                   Enabled="false" />
            <HotfixElement FileHash="SpellEquippedItems"            Enabled="false" />
            <HotfixElement FileHash="SpellFocusObject"              Enabled="false" />
            <HotfixElement FileHash="SpellInterrupts"               Enabled="false" />
            <HotfixElement FileHash="SpellItemEnchantmentCondition" Enabled="false" />
            <HotfixElement FileHash="SpellItemEnchantment"          Enabled="false" />
            <HotfixElement FileHash="SpellLearnSpell"               Enabled="false" />
            <HotfixElement FileHash="SpellLevels"                   Enabled="false" />
            <HotfixElement FileHash="SpellMisc"                     Enabled="false" />
            <HotfixElement FileHash="SpellName"                     Enabled="false" />
            <HotfixElement FileHash="SpellPowerDifficulty"          Enabled="false" />
            <HotfixElement FileHash="SpellPower"                    Enabled="false" />
            <HotfixElement FileHash="SpellProcsPerMinute"           Enabled="false" />
            <HotfixElement FileHash="SpellProcsPerMinuteMod"        Enabled="false" />
            <HotfixElement FileHash="SpellRadius"                   Enabled="false" />
            <HotfixElement FileHash="SpellRange"                    Enabled="false" />
            <HotfixElement FileHash="SpellReagents"                 Enabled="false" />
            <HotfixElement FileHash="SpellScaling"                  Enabled="false" />
            <HotfixElement FileHash="SpellShapeshift"               Enabled="false" />
            <HotfixElement FileHash="SpellShapeshiftForm"           Enabled="false" />
            <HotfixElement FileHash="SpellTargetRestrictions"       Enabled="false" />
            <HotfixElement FileHash="SpellTotems"                   Enabled="false" />
            <HotfixElement FileHash="SpellVisualKit"                Enabled="false" />
            <HotfixElement FileHash="SpellXSpellVisual"             Enabled="false" />
            <HotfixElement FileHash="SummonProperties"              Enabled="false" />
            <HotfixElement FileHash="TactKey"                       Enabled="false" />
            <HotfixElement FileHash="Talent"                        Enabled="false" />
            <HotfixElement FileHash="TaxiNodes"                     Enabled="false" />
            <HotfixElement FileHash="TaxiPath"                      Enabled="false" />
            <HotfixElement FileHash="TaxiPathNode"                  Enabled="false" />
            <HotfixElement FileHash="TotemCategory"                 Enabled="false" />
            <HotfixElement FileHash="Toy"                           Enabled="false" />
            <HotfixElement FileHash="TransmogHoliday"               Enabled="false" />
            <HotfixElement FileHash="TransmogSet"                   Enabled="false" />
            <HotfixElement FileHash="TransmogSetGroup"              Enabled="false" />
            <HotfixElement FileHash="TransmogSetItem"               Enabled="false" />
            <HotfixElement FileHash="TransportAnimation"            Enabled="false" />
            <HotfixElement FileHash="TransportRotation"             Enabled="false" />
            <HotfixElement FileHash="UiMapAssignment"               Enabled="false" />
            <HotfixElement FileHash="UiMap"                         Enabled="false" />
            <HotfixElement FileHash="UiMapLink"                     Enabled="false" />
            <HotfixElement FileHash="UiMapXMapArt"                  Enabled="false" />
            <HotfixElement FileHash="UnitPowerBar"                  Enabled="false" />
            <HotfixElement FileHash="Vehicle"                       Enabled="false" />
            <HotfixElement FileHash="VehicleSeat"                   Enabled="false" />
            <HotfixElement FileHash="WMOAreaTable"                  Enabled="false" />
            <HotfixElement FileHash="WorldEffect"                   Enabled="false" />
            <HotfixElement FileHash="WorldMapOverlay"               Enabled="false" />
            <HotfixElement FileHash="WorldSafeLocs"                 Enabled="false" />
            <HotfixElement FileHash="WorldStateExpression"          Enabled="false" />
        </FileHashes>
    </Hotfix>
</configuration>
