<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.12.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net462" />
  <package id="Sigil" version="4.7.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net462" />
  <package id="XAct.Wintellect.PowerCollections" version="0.0.1" targetFramework="net462" />
</packages>