<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- SSH Tunneling settings -->
        <add key="SSHEnabled" value="false"/>
        <add key="SSHHost" value=""/>
        <add key="SSHUsername" value=""/>
        <add key="SSHPassword" value=""/>
        <add key="SSHPort" value="22"/>
        <add key="SSHLocalPort" value="3307"/>

        <!-- Database settings -->
        <add key="DBEnabled" value="false"/>
        <add key="Server" value="localhost"/>
        <add key="Port" value="3306"/>
        <add key="Username" value="root"/>
        <add key="Password" value=""/>
        <add key="WPPDatabase" value="WPP"/>
        <add key="TDBDatabase" value="world"/>
        <add key="CharacterSet" value="utf8"/>
    </appSettings>
</configuration>
